{% extends "force/layout.html" %}

{% block body %}

    <h2>Login</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <form action="{% url 'login' %}" method="post" class="form-group">
        {% csrf_token %}

        <input autofocus class="form-control" type="text" name="username" placeholder="Username">
        <input class="form-control" type="password" name="password" placeholder="Password">
        <input class="btn btn-sm btn-outline-primary" type="submit" value="Login">

    </form>

    <p>Don't have an account?</p>
    <a style="align-self: flex-start;" href="{% url 'register' %}">Register here.</a>

{% endblock %}
