{% extends "force/layout.html" %}

{% block body %}

    <h2>Change Password</h2>

    <form id="password_change" action="{% url 'password_change' %}" method="POST">
        {% csrf_token %}
        {{ password_change.as_p }}
        <button class="btn btn-sm btn-outline-primary" type="submit">Change password</button>
    </form>

{% endblock %}

{% block script %}
    <script>
        function unread_emails() {
            const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
            const request = new Request('/unread', {headers: {'X-CSRFToken': csrftoken}});
            fetch(request)
            .then(response => response.json())
            .then(count => {
                if (count.count !== 0) {
                    document.querySelector('#alert-circle').style.display = 'block';
                } else {
                    document.querySelector('#alert-circle').style.display = 'none';
                }
            });
        }
    </script>
{% endblock %}