{% extends "force/layout.html" %}
{% load static %}

{% block body %}

    <h1>Force Travel Calculation</h1>
    <h2>{{ project.project_number }} <h4>{{ project.project_name }}</h4></h2>
    <h6>was created {{ project.datetime }}</h6>

    <canvas id="canvas" aria-label="Force calculation" role="img"></canvas>
    <p><span id="posX"></span><span id="posY"></span></p>
    
    <button id="home_btn"><img id="source" src="{% static 'force/home.png' %}" alt="icon"></button>
    
    <div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
    
    <form method="post">{% csrf_token %}</form>
    <!-- Contact ------------------------------------------------------------------------------>
    <p><label for="contacts">Choose contact:</label></p>
    <p>
        <button id="new_contact_btn" class="btn btn-success btn-sm">New</button>
        <button style="display: none;" id="save_contact_btn" class="btn btn-success btn-sm">Save</button>
    </p>

    <div id="new_contact" style="display: none;">
        {{ ContactForm.as_p }}
    </div>

    <p><select name="contacts" id="contacts">
        <option value="0" selected>Unknown</option>
        {% if Contacts %} 
            {% for contact in Contacts %}
                <option value="{{ contact.id }}">{{ contact.key }}</option>
            {% endfor %}
        {% endif %}
        </select></p>
    <p>
        <label for id="mu">Friction in Contact <span style="font-style: italic;">&mu;</span>:</label>
        <input type="number" name="mu" step="any" required id="mu">
    </p>
    <p>
        <label for id="contactCoord_X">Contact Point X Coordinate (mm):</label>
        <input type="number" name="contactCoord_X" step="any" required id="contactCoord_X">
    </p>
    <p>
        <label for id="contactCoord_Y">Contact Point Y Coordinate (mm):</label>
        <input type="number" name="contactCoord_Y" step="any" required id="contactCoord_Y">
    </p>

    <p>
        <button style="display: none;" id="edit_contact_btn" class="btn btn-success btn-sm">Edit</button>
        <button style="display: none;" id="delete_contact_btn" class="btn btn-success btn-sm">Delete</button>
    </p>


    <hr style="color:aliceblue;">
    <!-- Plunger ------------------------------------------------------------------------------>
    <p><label for="plungers">Choose Plunger:</label></p>
    <p>
        <button id="new_plunger_btn" class="btn btn-success btn-sm">New</button>
        <button style="display: none;" id="save_plunger_btn" class="btn btn-success btn-sm">Save</button>
    </p>
    
    <div id="new_plunger" style="display: none;">
        {{ PlungerForm.as_p }}
    </div>
    

    <p><select name="plungers" id="plungers">
        <option value="0" selected>Unknown</option>
        {% if Plungers %}
            {% for plunger in Plungers %}
                <option value="{{ plunger.id }}">{{ plunger.key }}</option>
            {% endfor %}
        {% endif %}
    </select></p>
    <p>
        <label for id="a">Distance between Contact Point and Point B (mm):</label>
        <input type="number" name="a" step="any" required id="a">
    </p>
    <p>
        <label for id="b">Distance between Point A and Point B (mm):</label>
        <input type="number" name="b" step="any" required id="b">
    </p>
    <p>
        <label for id="f">Friction in Plunger Joints:</label>
        <input type="number" name="f" step="any" required id="f">
    </p>

    <p>
        <button style="display: none;" id="edit_plunger_btn" class="btn btn-success btn-sm">Edit</button>
        <button style="display: none;" id="delete_plunger_btn" class="btn btn-success btn-sm">Delete</button>
    </p>

    <hr style="color:aliceblue;">
    <!-- Spring ------------------------------------------------------------------------------>
    <p><label for="springs">Choose Spring:</label></p>

    <p>
        <button id="new_spring_btn" class="btn btn-success btn-sm">New</button>
        <button style="display: none;" id="save_spring_btn" class="btn btn-success btn-sm">Save</button>
    </p>
    
    <div id="new_spring" style="display: none;">
        {{ SpringForm.as_p }}
    </div>

    <p><select name="springs" id="springs">
        <option value="0" selected>Unknown</option>
        {% if Springs %}
            {% for spring in Springs %}
                <option value="{{ spring.id }}">{{ spring.key }}</option>
            {% endfor %}
        {% endif %}
    </select></p>
    <p>
        <label for id="springStiff">Spring Stiffness (N/mm):</label>
        <input type="number" name="springStiff" step="any" required id="springStiff">
    </p>
    <p>
        <label for id="freeLen">Free Spring Length (mm):</label>
        <input type="number" name="freeLen" step="any" required id="freeLen">
    </p>
    <p>
        <label for id="springLen">Spring Length (mm):</label>
        <input type="number" name="springLen" step="any" required id="springLen">
    </p>

    <p>
        <button style="display: none;" id="edit_spring_btn" class="btn btn-success btn-sm">Edit</button>
        <button style="display: none;" id="delete_spring_btn" class="btn btn-success btn-sm">Delete</button>
    </p>
    
    <hr style="color:aliceblue;">
    <!-- Angles ------------------------------------------------------------------------------>
    <p><label for="angles">Choose Angles:</label></p>
    <p>
        <button id="new_angles_btn" class="btn btn-success btn-sm">New</button>
        <button style="display: none;" id="save_angles_btn" class="btn btn-success btn-sm">Save</button>
    </p>
    
    <div id="new_angles" style="display: none;">
        {{ AnglesForm.as_p }}
    </div>

    <p><select name="angles" id="angles">
        <option value="0" selected>Unknown</option>
        {% if Angles %}
            {% for angles in Angles %}
                <option value="{{ angles.id }}">{{ angles.key }}</option>
            {% endfor %}
        {% endif %}
    </select></p>
    
    <p>
        <label for id="plungerFric">Direction of Plunger Friction Forces (deg):</label>
        <input type="number" name="plungerFric" step="any" required id="plungerFric">
    </p>
    <p>
        <label for id="N">Direction of Normal Reaction (deg):</label>
        <input type="number" name="N" step="any" required id="N">
    </p>
    <p>
        <label for id="FN">Direction of Friction Force in Contact (deg):</label>
        <input type="number" name="FN" step="any" required id="FN">
    </p>
    <p>
        <button style="display: none;" id="edit_angles_btn" class="btn btn-success btn-sm">Edit</button>
        <button style="display: none;" id="delete_angles_btn" class="btn btn-success btn-sm">Delete</button>
    </p>
        
    
    <hr style="color:aliceblue;">
    <!-- Variables ------------------------------------------------------------------------------>
    <p><label for="variables">Choose Variables:</label></p>
    

        
    <p><select name="variables" id="variables">
        <option value="0" selected>Unknown</option>
        {% if Variables %}
            {% for variables in Variables %}
                <option value="{{ variables.id }}">{{ variables.key }}</option>
            {% endfor %}
        {% endif %}
    </select></p>
    <p>
        <button style="display: none;" id="delete_variables_btn" class="btn btn-success btn-sm">Delete</button>
    </p>
    <div id="new_variables" style="display: block;">
        {{ VariablesForm.as_p }}
    </div>        

    <button id="calculate" class="btn btn-primary btn-sm">Calculate</button>

{% endblock %}

{% block script %}
    <script src="{% static 'force/calculation.js' %}"></script>
{% endblock %}