{% extends "force/layout.html" %}
{% load static %}

{% block body %}

    <h1>Force Travel Calculation</h1>
    <h2>{{ project.project_number }} <h4>{{ project.project_name }}</h4></h2>
    <h6>was created {{ project.datetime }}</h6>

    <canvas id="canvas" width="600" height="600"></canvas>
    <img id="source" src="{% static 'force/coding.png' %}" alt="icon">
    
    <p><label for="contacts">Choose contact:</label></p>
    <p><button id="new_contact" class="btn btn-success btn-sm">New</button></p>

    <div id="ContactForm" style="display: none;">
        {{ ContactForm.as_p }}
    </div>

    {% if Contacts %} 
        <p><button id="save_contact" class="btn btn-success btn-sm">Save</button>
        <button id="delete_contact" class="btn btn-success btn-sm">Delete</button></p>
        <p><select name="contacts" id="contacts">
            <option value="0" selected>Unknown</option>
            {% for contact in Contacts %}
                <option value="{{ contact.id }}">{{ contact.contact_key }}</option>
            {% endfor %}
        </select></p>
        <p>
            <label for id="mu">Friction in Contact <span style="font-style: italic;">&mu;</span>:</label>
            <input type="number" name="mu" step="any" required id="mu">
        </p>
        <p>
            <label for id="contactCoord_X">Contact Point X Coordinate (mm):</label>
            <input type="number" name="contactCoord_X" step="any" required id="contactCoord_X">
        </p>
        <p>
            <label for id="contactCoord_Y">Contact Point Y Coordinate (mm):</label>
            <input type="number" name="contactCoord_Y" step="any" required id="contactCoord_Y">
        </p>

    {% endif %}

    <hr style="color:aliceblue;">

    <p><label for="plungers">Choose Plunger:</label></p>
    <p><button id="new_plunger" class="btn btn-success btn-sm">New</button></p>
    
    <div id="PlungerForm" style="display: none;">
        {{ PlungerForm.as_p }}
    </div>

    {% if Plungers %}
        <p><button id="save_plunger" class="btn btn-success btn-sm">Save</button>
        <button id="delete_plunger" class="btn btn-success btn-sm">Delete</button></p>
        <p><select name="plungers" id="plungers">
            <option value="0" selected>Unknown</option>
            {% for plunger in Plungers %}
                <option value="{{ plunger.id }}">{{ plunger.plunger_key }}</option>
            {% endfor %}
        </select></p>
    
        <!-- a = models.FloatField()
        b = models.FloatField()
        f = models.FloatField() -->
        <p>
            <label for id="a">Distance between Contact Point and Point B (mm):</label>
            <input type="number" name="a" step="any" required id="a">
        </p>
        <p>
            <label for id="b">Distance between Point A and Point B (mm):</label>
            <input type="number" name="b" step="any" required id="b">
        </p>
        <p>
            <label for id="f">Friction in Plunger Joints:</label>
            <input type="number" name="f" step="any" required id="f">
        </p>
    {% endif %}

    <hr style="color:aliceblue;">

    <p><label for="springs">Choose Spring:</label></p>
    <p><button id="new_spring" class="btn btn-success btn-sm">New</button></p>

    <div id="SpringForm" style="display: none;">
        {{ SpringForm.as_p }}
    </div>

    {% if Springs %}
        <p><button id="save_spring" class="btn btn-success btn-sm">Save</button>
        <button id="delete_spring" class="btn btn-success btn-sm">Delete</button></p>
        <p><select name="springs" id="springs">
            <option value="0" selected>Unknown</option>
            {% for spring in Springs %}
                <option value="{{ spring.id }}">{{ spring.spring_key }}</option>
            {% endfor %}
        </select></p>

        <!-- springStiff = models.FloatField()
        freeLen = models.FloatField()
        springLen = models.FloatField() -->
        <p>
            <label for id="springStiff">Spring Stiffness (N/mm):</label>
            <input type="number" name="springStiff" step="any" required id="springStiff">
        </p>
        <p>
            <label for id="freeLen">Free Spring Length (mm):</label>
            <input type="number" name="freeLen" step="any" required id="freeLen">
        </p>
        <p>
            <label for id="springLen">Spring Length (mm):</label>
            <input type="number" name="springLen" step="any" required id="springLen">
        </p>
    {% endif %}
    
    <hr style="color:aliceblue;">

    <p><label for="angles">Choose Angles:</label></p>
    <p><button id="new_angles" class="btn btn-success btn-sm">New</button></p>

    <div id="AnglesForm" style="display: none;">
        {{ AnglesForm.as_p }}
    </div>

    {% if Angles %}
        <p><button id="save_angles" class="btn btn-success btn-sm">Save</button>
        <button id="delete_angles" class="btn btn-success btn-sm">Delete</button></p>
        <p><select name="angles" id="angles">
            <option value="0" selected>Unknown</option>
            {% for angles in Angles %}
                <option value="{{ angles.id }}">{{ angles.angles_key }}</option>
            {% endfor %}
        </select></p>
        
        <!-- plungerFric = models.FloatField()
        N = models.FloatField()
        FN = models.FloatField() -->
        <p>
            <label for id="plungerFric">Direction of Plunger Friction Forces (deg):</label>
            <input type="number" name="plungerFric" step="any" required id="plungerFric">
        </p>
        <p>
            <label for id="N">Direction of Normal Reaction (deg):</label>
            <input type="number" name="N" step="any" required id="N">
        </p>
        <p>
            <label for id="FN">Direction of Friction Force in Contact (deg):</label>
            <input type="number" name="FN" step="any" required id="FN">
        </p>
    {% endif %}
    
    <hr style="color:aliceblue;">

    <p><label for="variables">Choose Variables:</label></p>
    <p><button id="new_variables" class="btn btn-success btn-sm">New</button></p>
        
    <div id="VariablesForm" style="display: none;">
        {{ VariablesForm.as_p }}
    </div>

    {% if Variables %}
        <p><button id="save_variables" class="btn btn-success btn-sm">Save</button>
        <button id="delete_variables" class="btn btn-success btn-sm">Delete</button></p>
        <p><select name="variables" id="variables">
            <option value="0" selected>Unknown</option>
            {% for variables in Variables %}
                <option value="{{ variables.id }}">{{ variables.variables_key }}</option>
            {% endfor %}
        </select></p>
        <!-- Na = models.FloatField()
        Nb = models.FloatField()
        NR = models.FloatField() -->
        <p>
            <label for id="Na">Force Reaction in Point A (N):</label>
            <input type="number" name="Na" step="any" required id="Na">
        </p>
        <p>
            <label for id="Nb">Force Reaction in Point B (N):</label>
            <input type="number" name="Nb" step="any" required id="Nb">
        </p>
        <p>
            <label for id="NR">Force Reaction in Contact Point (N):</label>
            <input type="number" name="NR" step="any" required id="NR">
        </p>
    {% endif %}

    <button class="btn btn-primary btn-sm">Calculate</button>

{% endblock %}

{% block script %}
    <script src="{% static 'force/calculation.js' %}"></script>
{% endblock %}