{% extends "force/layout.html" %}
{% load static %}


{% block sidebar %}
    {% if user.is_authenticated %}
        <h3>New project</h3>
        {{ projectForm.as_p }}
        <button id="post_new_project" class="btn btn-primary btn-sm">Create new project</button>
    {% endif %}
{% endblock %}


{% block body %}
    <div class="body">
        <div id="myQuery"></div>
        <form method="post">{% csrf_token %}</form>
    </div>
{% endblock %}


{% block script %}
    <script src="{% static 'force/filter.js' %}"></script>
    <script src="{% static 'force/paginatorsearch.js' %}" type="text/babel"></script>
{% endblock %}