{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <title>Force Calculation</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'force/styles.css' %}">
    <script src="https://unpkg.com/react@17/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
    <link rel="shortcut icon" type="image/png" href="{% static 'force/favicon.ico' %}">
    <script src="{% static 'force/header.js' %}"></script>
    <script src="{% static 'force/waves.js' %}"></script>
    <script>
        function unread_emails() {
            const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
            const request = new Request('/unread', {headers: {'X-CSRFToken': csrftoken}});
            fetch(request)
            .then(response => response.json())
            .then(count => {
                if (count.count !== 0) {
                    document.querySelector('#alert-circle').style.display = 'block';
                } else {
                    document.querySelector('#alert-circle').style.display = 'none';
                }
            });
        }
    </script>
    {% block script %}
    {% endblock %}
</head>
<body>
    <div class="header">

        <div id="logo_container">
            <a href="{% url 'index' %}"><img id="logo" src="{% static 'force/atom.png' %}" alt="logo"></a>
        </div>
        <div id="user_container">
            {% if user.is_authenticated %}
                <a class="position-relative" href="{% url 'mail' %}">
                    <img class="email_logo" src="{% static 'force/mail.png' %}" alt="logo">
                    <div id="alert-circle__top">
                        <div style="display: none;" id="alert-circle"></div>
                    </div>
                </a>
                <div id="wave-btn" class="wave-btn">
                    <div style="z-index: 1;" class="wave-btn wave-btn__text">{{ user.username }}<img  class="wave-btn yield_logo" src="{% static 'force/arrow-point-to-down.png' %}" alt="logo"></div>
                    <div style="z-index: 0;" class="wave-btn wave-btn__waves"></div>
                </div>

                <div class="user-menu__top">

                    <div id="user-menu" style="display: none;" class="user-menu">
                        
                        <div class="user_logo_requisites user-menu">
                            <img  class="user_logo user-menu" src="{% static 'force/user.png' %}" alt="logo">
                            <div class="user_requisites user-menu">
                                <div class="first_last_name user-menu">{{ user.first_name }} {{ user.last_name }}</div>
                                <div class="email user-menu"><b>Email:</b> {{ user.email }}</div>    
                            </div>    
                        </div>
    
                        <hr class="user-menu" style="margin: 0px;">
    
                        <div class="change_pwd_logo user-menu">
                            <a style="z-index: 1; width: 100%;" class="user-menu" href="{% url 'password_change' %}">
                                <img class="user-menu" src="{% static 'force/lock.png' %}" alt="logo">Change password</a>
                            <div style="z-index: 0;" class="user-menu change_pwd_logo_wave"></div>
                        </div>
    
                        <hr class="user-menu" style="margin: 0px;">
    
                        <div class="logout_logo user-menu">
                            <a  style="z-index: 1; width: 100%;" class="user-menu" href="{% url 'logout' %}">
                                <img class="user-menu" src="{% static 'force/logout.png' %}" alt="logo">Log Out</a>
                            <div style="z-index: 0;" class="user-menu logout_logo_wave"></div>
                        </div>

                    </div>
    
                </div>

                <form id="password_change" style="display: none;" action="{% url 'password_change' %}" method="POST">
                    {% csrf_token %}
                    {{ password_change.as_p }}
                    <button type="submit">Submit</button>
                </form>

            {% else %}
                <a href="{% url 'login' %}">Log In</a>
                <a href="{% url 'register' %}">Register</a>
            {% endif %}
        </div>
       
    </div>

    <div id="container">

        <div id="side_bar">
            {% block sidebar %}
            {% endblock %}
        </div>
        <div id="body">
            {% block body %}
            {% endblock %}
        </div>

    </div>

    <div class="footer">
        Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>.
        Icons made by <a href="" title="srip">srip</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
    </div>

    <div id="query" style="display: none;"></div>
    <div id="page" style="display: none;">0</div>
    <div id="pages" style="display: none;">0</div>
    <form method="post">{% csrf_token %}</form>
</body>
</html>