{% extends "force/layout.html" %}
{% load static %}



{% block sidebar %}
    <div id="wave-btn__inbox" class="wave-btn__sidebar">
        <div  class="wave-btn__sidebar text__sidebar">
            <img style="z-index: 1;" class="wave-btn__sidebar logo__sidebar" src="{% static 'force/inbox.png' %}" alt="logo">
            <p style="margin: 0; z-index: 1;" class="wave-btn__sidebar">Inbox</p>
        </div>
        <div style="z-index: 0;" id="wave__inbox" class="wave-btn__sidebar"></div>
    </div>

    <hr class="user-menu" style="margin: 0px;">

    <div id="wave-btn__compose" class="wave-btn__sidebar">
        <div  class="wave-btn__sidebar text__sidebar">
            <img style="z-index: 1;" class="wave-btn__sidebar logo__sidebar" src="{% static 'force/message.png' %}" alt="logo">
            <p style="margin: 0; z-index: 1;" class="wave-btn__sidebar">Compose</p>
        </div>
        <div style="z-index: 0;" id="wave__compose" class="wave-btn__sidebar"></div>
    </div>

    <hr class="user-menu" style="margin: 0px;">

    <div id="wave-btn__sent" class="wave-btn__sidebar">
        <div  class="wave-btn__sidebar text__sidebar">
            <img style="z-index: 1;" class="wave-btn__sidebar logo__sidebar" src="{% static 'force/sent.png' %}" alt="logo">
            <p style="margin: 0; z-index: 1;" class="wave-btn__sidebar">Sent</p>
        </div>
        <div style="z-index: 0;" id="wave__sent" class="wave-btn__sidebar"></div>
    </div>

    <hr class="user-menu" style="margin: 0px;">

    <div id="wave-btn__archived" class="wave-btn__sidebar">
        <div  class="wave-btn__sidebar text__sidebar">
            <img style="z-index: 1;" class="wave-btn__sidebar logo__sidebar" src="{% static 'force/bag.png' %}" alt="logo">
            <p style="margin: 0; z-index: 1;" class="wave-btn__sidebar">Archived</p>
        </div>
        <div style="z-index: 0;" id="wave__archived" class="wave-btn__sidebar"></div>
    </div>

    <hr class="user-menu" style="margin: 0px;">

    <!-- <div class="column" id="menu">
        <ul>
            <li><div class="clearfix"><div class="menu-items" id="inbox">Inbox</div></div></li>
            <li><div class="menu-items" id="compose">Compose</div></li>
            <li><div class="menu-items" id="sent">Sent</div></li>
            <li><div class="menu-items" id="archived">Archived</div></li>
        </ul>
    </div> -->
{% endblock %}

{% block body %}
    <div id="inbox-view">
        <p>Inbox</p>

        <div id="inbox-email-list">
        </div>
        <div style="display: none;" id="inbox-email-render">
            <div id="inbox-email-head">
            </div>
    
            <div id="inbox-email-body">
                <hr>
                <textarea disabled id="inbox-email-content" placeholder="Body"></textarea>
            </div>
    
            <button id="inbox-reply-button" class='btn btn-sm btn-outline-primary'>
                Reply
            </button>
            <button id="inbox-archived-button" class='btn btn-sm btn-outline-primary'>
                Reply
            </button>
        </div>
    </div>

    <div id="compose-view">
        <p>New Email</p>
        <form id="compose-form">
            <div class="form-group">
                From: <input disabled class="form-control" value="{{ request.user.email }}">
            </div>

            <div class="form-group">
                To: <input type="email" id="compose-recipients" class="form-control">
            </div>

            <div class="form-group">
                <input class="form-control" id="compose-subject" placeholder="Subject">
            </div>

            <textarea class="form-control" id="compose-body" placeholder="Body"></textarea>

            <input id="compose-button" type="submit" class="btn btn-primary"/>
        </form>
    </div>

    <div id="sent-view">
        <p>Sent</p>
    </div>

    <div id="archived-view">
        <p>Archived</p>
    </div>

{% endblock %}



{% block script %}
    <script src="{% static 'force/mail.js' %}"></script>
{% endblock %}