{% extends "force/layout.html" %}
{% load static %}



{% block sidebar %}
    <div id="wave-btn__inbox" class="wave-btn__sidebar">
        <div  class="wave-btn__sidebar text__sidebar">
            <img style="z-index: 1;" class="wave-btn__sidebar logo__sidebar" src="{% static 'force/inbox.png' %}" alt="logo">
            <p style="margin: 0; z-index: 1;" class="wave-btn__sidebar">Inbox</p>
        </div>
        <div style="z-index: 0;" id="wave__inbox" class="wave-btn__sidebar"></div>
    </div>

    <hr class="user-menu" style="margin: 0px;">

    <div id="wave-btn__compose" class="wave-btn__sidebar">
        <div  class="wave-btn__sidebar text__sidebar">
            <img style="z-index: 1;" class="wave-btn__sidebar logo__sidebar" src="{% static 'force/message.png' %}" alt="logo">
            <p style="margin: 0; z-index: 1;" class="wave-btn__sidebar">Compose</p>
        </div>
        <div style="z-index: 0;" id="wave__compose" class="wave-btn__sidebar"></div>
    </div>

    <hr class="user-menu" style="margin: 0px;">

    <div id="wave-btn__sent" class="wave-btn__sidebar">
        <div  class="wave-btn__sidebar text__sidebar">
            <img style="z-index: 1;" class="wave-btn__sidebar logo__sidebar" src="{% static 'force/sent.png' %}" alt="logo">
            <p style="margin: 0; z-index: 1;" class="wave-btn__sidebar">Sent</p>
        </div>
        <div style="z-index: 0;" id="wave__sent" class="wave-btn__sidebar"></div>
    </div>

    <hr class="user-menu" style="margin: 0px;">

    <div id="wave-btn__archived" class="wave-btn__sidebar">
        <div  class="wave-btn__sidebar text__sidebar">
            <img style="z-index: 1;" class="wave-btn__sidebar logo__sidebar" src="{% static 'force/bag.png' %}" alt="logo">
            <p style="margin: 0; z-index: 1;" class="wave-btn__sidebar">Archived</p>
        </div>
        <div style="z-index: 0;" id="wave__archived" class="wave-btn__sidebar"></div>
    </div>

    <hr class="user-menu" style="margin: 0px;">

{% endblock %}

{% block body %}
    <div id="inbox-view">
        <p style="font-size: 30px; font-style: bold;">Inbox</p>

        <div id="inbox-email-list">
            <div id="myQuery"></div>
        </div>

        <div style="display: none;" id="inbox-email-render">
            <div id="inbox-email-head">
            </div>
    
            <div id="inbox-email-body">
                <hr>
                <textarea disabled id="inbox-email-content" placeholder="Body"></textarea>
            </div>
    
            <button id="inbox-reply-button" class='btn btn-sm btn-outline-primary'>
                Reply
            </button>
            <button id="inbox-archived-button" class='btn btn-sm btn-outline-primary'>
                Archived
            </button>
        </div>

    </div>

    <div id="compose-view">
        <p style="font-size: 30px; font-style: bold;">New Email</p>

        <div id="compose-email-head">
        </div>
    
        <form id="compose-form">
            <label for="id_compose-sender">From: </label>
            <input id="compose-sender" type='email' disabled value="{{ request.user.email }}">
            
            <label for="id_compose-recipients">To: </label>
            <input type="text" required id="compose-recipients" placeholder="for example: harry@example.com, ron@example.com">

            <label for="id_compose-subject"></label>
            <input type="text" required id="compose-subject" placeholder="Subject:">

            <textarea id="compose-body" placeholder="Text:"></textarea>

            <input id="compose-button" type="submit" class="btn btn-sm btn-outline-primary"/>
        </form>

    </div>

    <div id="sent-view">
        <p style="font-size: 30px; font-style: bold;">Sent</p>

        <div id="sent-email-list">
            <!-- <div id="myQuery"></div> -->
        </div>

        <div style="display: none;" id="sent-email-render">
            <div id="sent-email-head">
            </div>
    
            <div id="sent-email-body">
                <hr>
                <textarea disabled id="sent-email-content" placeholder="Body"></textarea>
            </div>
    
        </div>
    </div>

    <div id="archived-view">
        <p style="font-size: 30px; font-style: bold;">Archived</p>

        <div id="archived-email-list">
            <!-- <div id="myQuery"></div> -->
        </div>

        <div style="display: none;" id="archived-email-render">
            <div id="archived-email-head">
            </div>

            <div id="archived-email-body">
                <hr>
                <textarea disabled id="archived-email-content" placeholder="Body"></textarea>
            </div>

            <button id="archived-reply-button" class='btn btn-sm btn-outline-primary'>
                Reply
            </button>
            <button id="archived-archived-button" class='btn btn-sm btn-outline-primary'>
                Unarchived
            </button>
        </div>
    </div>

{% endblock %}



{% block script %}
    <script src="{% static 'force/filter.js' %}"></script>
    <script src="{% static 'force/mail.js' %}"></script>
    <script src="{% static 'force/paginatorsearch.js' %}" type="text/babel"></script>
{% endblock %}