{% extends "force/layout.html" %}

{% block body %}

    <h2>Register</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <form class="form-group" action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <input class="form-control" autofocus type="text" name="username" placeholder="Username">
        <input class="form-control" type="email" name="email" placeholder="Email Address">

        <input class="form-control" type="text" name="first_name" placeholder="First Name">
        <input class="form-control" type="text" name="last_name" placeholder="Last Name">

        <input class="form-control" type="password" name="password" placeholder="Password">
        <input class="form-control" type="password" name="confirmation" placeholder="Confirm Password">
        <input class="btn btn-sm btn-outline-primary" type="submit" value="Register">
    </form>

    <p>Already have an account?</p>
    <a style="align-self: flex-start;" href="{% url 'login' %}">Log In here.</a>

{% endblock %}