* {
    box-sizing: border-box;
}

/* ------------------- BACKGROUND --------------------- */
html {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    /* align-items: flex-end; */
    background-color: rgb(101, 157, 189, 0.3);
    /* background-image: url('white-wooden-textures.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed; */

    
    /* -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; */
}
/* --------------- end BACKGROUND --------------------- */
/*
/*
/*
/*
/*
/*
/*
/* --------------- HEADER ------------- */
.header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    /* background-image: url('blue-brushstrokes-background.jpg'); */
    background-size: 100% auto;
    /* background-attachment: fixed; */
    background-color: #659DBD;
    align-items: baseline;
}
/* ----------- end HEADER ------------- */
/*
/*
/*
/*
/*
/*
/*
/* --------------- BODY ------------- */
.body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#new_project {
    background-color:white;
    box-shadow: 1px 1px 10px #868686;
    border-radius: 0px 10px 10px 0px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 0px;
    margin-right: 20px;
    padding: 15px;
}
/* ----------- end BODY ------------- */
/*
/*
/*
/*
/*
/*
/*
/* ---------------------------------- FOOTER ----------------------------- */
/* .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: blue;
    color: white;
    text-align: center;
 } */
/* ------------------------------ end FOOTER ----------------------------- */



/* -------------------------------------- LAYOUT HOME PAGE ---------------------------------------- */
table {
    border: 1px solid black;
    border-collapse: collapse;
}
td {
    border: 1px solid black;
    padding: 2px;
}
/* -------------------------------------- end LAYOUT HOME PAGE ------------------------------------- */
/*
/*
/*
/*
/*
/*
/*
/* ------------------------------- LAYOUT CALCULATION --------------------- */

/* ------------------------------- LAYOUT CALCULATION --------------------- */
/*
/*
/*
/*
/*
/*
/*
/* --------------------------- prevent SCROLING -------------------------- */
/* .stop-scrolling {
    overflow: hidden;
} */
/* Hide scrollbar for Chrome, Safari and Opera */
/* body::-webkit-scrollbar {
    display: none;
} */
/* Hide scrollbar for IE, Edge and Firefox */
/* body { */
    /* IE and Edge */
    /* -ms-overflow-style: none; */
    /* Firefox */
    /* scrollbar-width: none;
} */
/* ------------------------------ end SCROLING --------------------------- */
/*
/*
/*
/*
/*
/*
/*
/* ------------------------------ CANVAS NAVIGATION BAR ------------------------------- */
/* #source {
    max-width: 20px;
    max-height: 20px;
} */
/* ------------------------------ end CANVAS NAVIGATION BAR --------------------------- */
/*
/*
/*
/*
/*
/*
/*
/* ---------------------------- CANVAS ------------------------ */
#canvas {
    border-radius: 5px;
    border: 1px solid black;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/* ---------------------------- end CANVAS -------------------- */








/* #home_btn {
    background-color: Transparent;
} */

/* a:link { */
    /* color: green; */
    /* background-color: transparent; */
    /* text-decoration: none; */
/* } */
/* a:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
} */

/* p, h1, h2, h3, h4, h5, h6, label {
    color:aliceblue;
} */

/* th {
    color:aquamarine;
}

.table_content {
    color:aliceblue;
}

.table_content:hover {
    cursor: pointer;
    color: coral;
    
} */

/* .paginator {
    color:chocolate;
}

.paginator_items:hover {
    color:chartreuse;
    cursor: pointer;
} */










