* {
    box-sizing: border-box;
}

body {
    background-color: #333 !important;
    color: #fff;
    display: block;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    margin: 0;
}

a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}

p, h1, h2, h3, h4, h5, h6, label {
    color:aliceblue;
}

th {
    color:aquamarine;
}

.table_content {
    color:aliceblue;
}

.table_content:hover {
    cursor: pointer;
    color: coral;
    
}

.paginator {
    color:chocolate;
}

.paginator_items:hover {
    color:chartreuse;
    cursor: pointer;
}

#canvas {
    background: #f0f0f0;
    border-radius: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.stop-scrolling {
    height: 100%;
    overflow: hidden;
}

#source {
    max-width: 20%;
    max-height: 20%;
    display: none;
}